@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';

/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: black; 
  border-radius: 8px;
  box-shadow: 0 4px 12px #CF91D8;
  position: relative;
  top: 55px;
}

.FormField {
  margin-bottom: 15px;
}

.FormFieldHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.FormLabel {
  font-size: 15px;
  font-weight: 530;
  color:#CF91D8;
}

.FormMessage {
  font-size: 12px;
  color: rgb(252, 33, 33);
  opacity: 0.8;
}

.Input,
.Textarea {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  color:#b70071;
  background-color: var(--black-a3);
  border: 1px solid #ae4dee;;
  border-radius: 4px;
  outline: none;
}

.Input:hover,
.Textarea:hover {
  border-color:rgb(226, 92, 204);
}

.Input:focus,
.Textarea:focus {
  border-color: var(--violet11);
  box-shadow: 0 0 0 2px var(--violet8);
}

.Input::selection,
.Textarea::selection {
  background-color: RoyalBlue;
  color: white;
}

.Textarea {
  resize: none;
}

.Button {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color:  rgb(226, 92, 204);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Button:hover {
  background-color: rgb(196, 24, 167);
}

.Button:focus {
  box-shadow: 0 0 0 2px#ae4dee;
}

.form-footer {
  margin-top: 20px;
  text-align: center;
}

.alert {
  font-size: 12px;
  color: red;
}
