@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';

/* reset */
input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(30%);
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}

.FormLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.FormMessage {
  font-size: 13px;
  font-weight: bold;
  color:rgb(252, 33, 33);
  opacity: 0.8;
}

.Input,
.Textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  
  font-size: 15px;
  color: rgb(194, 147, 255);
  background-color:0 0 0 1px var(--black-a9);
  box-shadow: 0 0 0 1px white;
}
.Input:hover,
.Textarea:hover {
  box-shadow: 0 0 0 1px rgb(202, 144, 216);
}
.Input:focus,
.Textarea:focus {
  box-shadow: 0 0 0 2px rgb(196, 24, 167);
}
.Input::selection,
.Textarea::selection {
  background-color: RoyalBlue	;
  color: rgb(255, 255, 255);
}

.Input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}

.Textarea {
  resize: none;
  padding: 10px;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: rgb(194, 147, 255);
  color: white;
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button:hover {
  background-color:  rgb(196, 24, 167);
}
.Button:focus {
  box-shadow: 0 0 0 2px white;
}