body{background-image:url(https://cdn.discordapp.com/attachments/1175785422366969877/1182405249483423855/IMG_8884.jpg?ex=658493b3&is=65721eb3&hm=fd873b2f10cd77bdb25e7b71fd90ae9130427c47d868092bb85725cff346209b&);}
.frame-14,
.frame-14 * {
  box-sizing: border-box;
}
.frame-14 {
  background: #141313;
  width: 1024px;
  margin: 0 auto;
  height: 2989px;
  position: relative;
  overflow: hidden;
}
.div {
  position: absolute;
  inset: 0;
}
.div2 {
  color: #ffffff;
  text-align: center;
  font-family: "Kumar One ", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 461px;
  top: 129px;
  width: 101px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 { 
  color: #ffffff;
  text-align: center;
  font-family: "Kumar One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 434px;
  top: 88px;
  width: 155px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yeat-american-rapper-3840-x-3840-11149-1 {
  width: 364px;
  height: 344px;
  position: absolute;
  left: calc(50% - -35px);
  top: calc(50% - 1192.5px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rap {
  -webkit-text-stroke-width: 2.5px;
   -webkit-text-stroke-color: black;
  color: #dbfd07;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 684px;
  top: 441px;
  width: 110px;
  height: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div4 {
  width: 791px;
  height: 843px;
  position: static;
}
.div5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 444px;
  top: 202px;
  width: 135px;
  height: 18px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.line-1 {
  width: 48px;
  height: 0px;
  position: absolute;
  left: 488px;
  top: 235px;
  overflow: visible;
}
.div6 {
  width: 791px;
  height: 745px;
  position: static;
}
.punk {
  opacity: 0.800000011920929;
  width: 150px;
  height: 150px;
  position: static;
}
._93485-korol-i-shut-3-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 118px;
  top: 300px;
}
.punk2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 162.6px;
  top: 353.29px;
  width: 65.05px;
  height: 28.15px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.jazz {
  width: 150px;
  height: 150px;
  position: static;
}
.f-92-baf-5468-eae-9-cfdbb-1139-ff-103-fbdd-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 118px;
  top: 494px;
}
.jazz2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 158.54px;
  top: 532.57px;
  width: 72.85px;
  height: 42.19px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.rnb {
  opacity: 0.800000011920929;
  width: 364px;
  height: 344px;
  position: static;
}
.the-weeknd-1024-x-691-1 {
  width: 364px;
  height: 344px;
  position: absolute;
  left: 118px;
  top: 701px;
}
.rnb2 {
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
  color: #dbfd07;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: 240px;
  top: 836px;
  width: 104px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.hip-hop {
  width: 150px;
  height: 150px;
  position: static;
}
._6471985190-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 332px;
  top: 494px;
}
.hip-hop2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 356.08px;
  top: 543.34px;
  width: 98.64px;
  height: 33.82px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.pop {
  width: 150px;
  height: 150px;
  position: static;
}
.a-71-bb-8-fd-46-ca-401-d-b-317-abedbb-63302-c-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 546px;
  top: 893px;
}
.pop2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 600.08px;
  top: 951.03px;
  width: 65.76px;
  height: 33.82px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.rock {
  width: 150px;
  height: 150px;
  position: static;
}
._1-kiss-02-58811-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 332px;
  top: 300px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rock2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 373.45px;
  top: 341.45px;
  width: 69.21px;
  height: 40.08px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.alternative {
  opacity: 0.800000011920929;
  width: 150px;
  height: 150px;
  position: static;
}
.gorillaz-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 546px;
  top: 701px;
}
.alternative2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 553.91px;
  top: 752.71px;
  width: 142.09px;
  height: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._80-s {
  opacity: 0.800000011920929;
  width: 150px;
  height: 150px;
  position: static;
}
._1747-x-1152-21-1-cac-7-cfb-59-cf-94-a-7482-f-81-b-85-bd-1-bb-2-a-1920-x-1152-0-xac-120003-11813310931615573783-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 759px;
  top: 893px;
}
._80-s2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 810.36px;
  top: 944.67px;
  width: 84.86px;
  height: 53.24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.electronic {
  opacity: 0.800000011920929;
  width: 150px;
  height: 150px;
  position: static;
}
.cca-7-f-3-dce-7-c-0-d-577379-e-91-cfa-140-b-0-d-9-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 759px;
  top: 701px;
}
.electronic2 {
  -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: black;
  color: #fd077d;
  text-align: left;
  font-family: "Irish Grover", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 776px;
  top: 766px;
  width: 119px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._3 {
  position: absolute;
  inset: 0;
}
.div7 {
  background: rgba(255, 250, 250, 0.32);
  width: 1026px;
  height: 62px;
  position: absolute;
  left: -1px;
  top: 0px;
}
.input-wrapper {
  width: 21px;
  height: 20px;
  position: absolute;
  left: 93px;
  top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  }

  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
  }
  
.input::placeholder,
.input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
  }
  
.input::placeholder {
    color: #8f8f8f;
  }
  
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
.icon:focus ~ .input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  

.div9 {
  color: #141313;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  left: 875px;
  top: 22px;
  width: 36px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.star-1 {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 840px;
  top: 26px;
  overflow: visible;
}
.div10 {
  color: #141313;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  left: 758px;
  top: 22px;
  width: 69px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div11 {
  color: #141313;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  left: 697px;
  top: 22px;
  width: 48px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ec {
  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
  color: #874a7d;
  text-align: left;
  font-family: "New Rocker", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 481px;
  top: 7px;
  width: 60px;
  height: 52px;
  opacity: 0.5; 
  transition: opacity 0.3s; 
}
.ec:hover {
  opacity: 1;
}
.ec::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;

}
.ec:hover::after {
  opacity: 1; 
}

.div12 {
  width: 91px;
  height: 32px;
  position: static;
}
.icons-8-64-1 {
  width: 30.77px;
  height: 32px;
  position: absolute;
  left: 183.11px;
  top: 17px;
}
.forward-icon-240446-1 {
  width: 27.47px;
  height: 18.38px;
  position: absolute;
  left: 216.53px;
  top: 23.81px;
}
.forward-icon-240446-2 {
  width: 27.47px;
  height: 18.38px;
  position: absolute;
  left: 180.47px;
  top: 23.81px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.div13 {
  width: 98.03px;
  height: 38.35px;
  position: static;
}
.rectangle-2 {
  background: #874a7d;
  border-radius: 25px;
  width: 87.72px;
  height: 38.35px;
  position: absolute;
  left: 918px;
  top: 14px;
}
.div14 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  left: 928px;
  top: 21px;
  width: 88.03px;
  height: 19.56px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div15 {
  color: #141313;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  left: 634px;
  top: 20px;
  width: 50px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div16 {
  width: 747px;
  height: 327px;
  position: static;
}
.tape {
  width: 109.22px;
  height: 137.92px;
  position: static;
}
.varskva-big-baby-tape {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 304px;
  top: 1312.92px;
  width: 78px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 308.34px;
  top: 1212px;
}
.gone-fludd {
  width: 108.28px;
  height: 130.03px;
  position: static;
}
.scale-1200-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 151.4px;
  top: 1212px;
}
.gone-fludd2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 148px;
  top: 1323.04px;
  width: 80.74px;
  height: 18.99px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.og-buda {
  width: 107.15px;
  height: 125.29px;
  position: static;
}
.maxresdefault-2-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 461.89px;
  top: 1212px;
}
.pox-vaw-0-5-og-buda {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 459.63px;
  top: 1323.04px;
  width: 63.38px;
  height: 14.25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.konfuz {
  width: 104.88px;
  height: 126.75px;
  position: static;
}
.pic-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 626px;
  top: 1212px;
}
.konfuz2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 626px;
  top: 1323.77px;
  width: 69.42px;
  height: 14.98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div17 {
  width: 105.64px;
  height: 135.51px;
  position: static;
}
.al-c {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 203.84px;
  top: 1474.63px;
  width: 29.8px;
  height: 26.3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._200-x-200-1-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 204.59px;
  top: 1365.41px;
}
.adam-jamar {
  width: 104.88px;
  height: 133.69px;
  position: static;
}
._200-x-200-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 790.12px;
  top: 1212px;
}
.a-like-adam-jamar {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 790.12px;
  top: 1318.29px;
  width: 62.25px;
  height: 27.39px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div18 {
  width: 104.88px;
  height: 128.57px;
  position: static;
}
._200-x-200-4-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 713.91px;
  top: 1365.41px;
}
.div19 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 713.91px;
  top: 1477.55px;
  width: 36.97px;
  height: 16.44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.folk {
  width: 104.88px;
  height: 122.36px;
  position: static;
}
._200-x-200-3-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 544.14px;
  top: 1365.41px;
}
.v-o-l-g-a-f-0-lk {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 544.14px;
  top: 1474.63px;
  width: 37.35px;
  height: 13.15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chm {
  width: 104.88px;
  height: 127.11px;
  position: static;
}
.raw-chm {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 374.74px;
  top: 1472.8px;
  width: 26.03px;
  height: 19.72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._200-x-200-2-1 {
  width: 104.88px;
  height: 102.64px;
  position: absolute;
  left: 374.36px;
  top: 1365.41px;
}
.div20 {
  color: #874a7d;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 433px;
  top: 1519px;
  width: 242px;
  height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.line-2 {
  width: 48px;
  height: 0px;
  position: absolute;
  left: 491px;
  top: 1171px;
  overflow: visible;
}
.div21 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 428px;
  top: 1118px;
  width: 167px;
  height: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.div22 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 432.39px;
  top: 1593px;
  width: 200.2px;
  height: 26.43px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.line-22 {
  width: 52.84px;
  height: 0px;
  position: absolute;
  left: 506.07px;
  top: 1628.6px;
  overflow: visible;
}
.instasamka {
  width: 107.83px;
  height: 141.67px;
  position: static;
}
.ellipse-2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 3px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 362.3px;
  top: 1668.24px;
}
.instasamka-rap-pop {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 370.21px;
  top: 1785.69px;
  width: 71.53px;
  height: 24.22px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.big-baby-tape {
  width: 107.83px;
  height: 140.57px;
  position: static;
}
.ellipse-3 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 3px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 524.04px;
  top: 1668.24px;
}
.big-baby-tape-rap {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 529.07px;
  top: 1786.42px;
  width: 69.01px;
  height: 22.39px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div23 {
  width: 107.83px;
  height: 141.67px;
  position: static;
}
.ellipse-4 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 3px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 685.07px;
  top: 1668.24px;
}
.rap2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 685.07px;
  top: 1785.69px;
  width: 74.4px;
  height: 24.22px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.anna-asti {
  width: 107.83px;
  height: 139.84px;
  position: static;
}
.ellipse-1 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 3px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 207.74px;
  top: 1668.24px;
}
.anna-asti-female-vocalists {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 208.46px;
  top: 1787.52px;
  width: 73.68px;
  height: 20.55px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div24 {
  width: 130.11px;
  height: 141.67px;
  position: static;
}
.ellipse-6 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 2px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 298.32px;
  top: 1820.56px;
}
.rock-pop-alternativ {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 344.33px;
  top: 1945.35px;
  width: 84.11px;
  height: 16.88px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.macan {
  width: 127.96px;
  height: 142.77px;
  position: static;
}
.ellipse-5 {
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 147px;
  top: 1820.56px;
  overflow: visible;
}
.macan-hip-hop {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 215.65px;
  top: 1944.61px;
  width: 59.31px;
  height: 18.72px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.kizaru {
  width: 112.5px;
  height: 146.44px;
  position: static;
}
.ellipse-9 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 3px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 764.5px;
  top: 1820.56px;
}
.kizaru-trap-rap {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 834.59px;
  top: 1940.57px;
  width: 42.41px;
  height: 26.43px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.a-v-g {
  width: 133.71px;
  height: 141.67px;
  position: static;
}
.ellipse-7 {
  border-radius: 50%;
  border-style: solid;
  border-color: #874a7d;
  border-width: 3px;
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 455.75px;
  top: 1820.56px;
}
.a-v-g-drill-rap-hip-hop {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 519.37px;
  top: 1945.35px;
  width: 70.09px;
  height: 16.88px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.guf {
  width: 136.58px;
  height: 141.67px;
  position: static;
}
.ellipse-8 {
  width: 107.83px;
  height: 110.11px;
  position: absolute;
  left: 607.07px;
  top: 1820.56px;
  overflow: visible;
}
.guf-rap {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 691.89px;
  top: 1945.35px;
  width: 51.76px;
  height: 16.88px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.line-3 {
  width: 53.44px;
  height: 0px;
  position: absolute;
  left: 501px;
  top: 2055px;
  overflow: visible;
}
.div25 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  right: 388.45px;
  top: 2024px;
  width: 223.55px;
  height: 36.9px;
}
.div26 {
  width: 101.42px;
  height: 137.93px;
  position: static;
}
.ramil-mary-gu {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 559.48px;
  top: 2499.13px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-21-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 559.48px;
  top: 2388.07px;
}
.skidri-dvrklxght {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 357.74px;
  top: 2499.13px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-20-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 357.74px;
  top: 2388.07px;
}
.tkimali {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 156px;
  top: 2499.13px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-19-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 156px;
  top: 2388.07px;
}
.da-game {
  width: 101.42px;
  height: 137.93px;
  position: static;
}
.da-game-big-baby-tape-macan {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 761.58px;
  top: 2350.1px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-18-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 761.58px;
  top: 2239.04px;
}
.div27 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 357.74px;
  top: 2201.06px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-17-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 357.74px;
  top: 2090.01px;
}
.div28 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 357.74px;
  top: 2350.1px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-15-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 357.74px;
  top: 2239.04px;
}
.a-v-g2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 559.48px;
  top: 2350.1px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-16-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 559.48px;
  top: 2239.04px;
}
.instasamka2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 156px;
  top: 2350.1px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-14-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 156px;
  top: 2239.04px;
}
.mona {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 761.22px;
  top: 2201.06px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-13-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 761.22px;
  top: 2090.01px;
}
.div29 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 559.48px;
  top: 2201.06px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-12-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 559.48px;
  top: 2090.01px;
}
.div30 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 761.22px;
  top: 2499.13px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-22-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 761.22px;
  top: 2388.07px;
}
.m-1000-x-1000-2-1 {
  width: 101.42px;
  height: 99.95px;
  position: absolute;
  left: 156px;
  top: 2090.01px;
}
.a-v-g3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 156px;
  top: 2201.06px;
  width: 101.42px;
  height: 26.87px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div31 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  right: 389.97px;
  top: 2594px;
  width: 225.95px;
  height: 24.82px;
}
.line-4 {
  width: 54.01px;
  height: 0px;
  position: absolute;
  left: 494px;
  top: 2625px;
  overflow: visible;
}
.toxi {
  width: 102.51px;
  height: 151.24px;
  position: static;
}
.toxi-hotshot-01-12-23 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 377.58px;
  top: 2775.87px;
  width: 81.56px;
  height: 34.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.https-images-genius-com-d-2668303-c-53-f-25325-d-830-b-0-f-4-a-5-bfd-5-f-1 {
  width: 102.51px;
  height: 108.19px;
  position: absolute;
  left: 368.03px;
  top: 2658.76px;
}
.bushido-zho {
  width: 102.51px;
  height: 151.24px;
  position: static;
}
.bushido-zho-westgotsh-01-12-23 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 188px;
  top: 2775.87px;
  width: 94.79px;
  height: 34.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.https-images-genius-com-40142728-f-16226948190-a-56984-bd-541-f-1 {
  width: 102.51px;
  height: 108.19px;
  position: absolute;
  left: 188px;
  top: 2658.76px;
}
.div32 {
  width: 102.51px;
  height: 151.24px;
  position: static;
}
.yeahh-01-12-2023 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 555.04px;
  top: 2775.87px;
  width: 81.56px;
  height: 34.13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.https-images-genius-com-74-e-7-ecde-7199-a-1-c-2-f-3785-b-59-a-1-d-23-cc-8-1 {
  width: 102.51px;
  height: 108.19px;
  position: absolute;
  left: 548.06px;
  top: 2658.76px;
}
._9-mice {
  width: 102.51px;
  height: 147.75px;
  position: static;
}
.https-images-genius-com-4-b-145-fadc-90-c-57-a-9485-b-6-dceb-5-cddb-51-1 {
  width: 102.51px;
  height: 108.19px;
  position: absolute;
  left: 732.49px;
  top: 2658.76px;
}
._9-mice-orpheus-08-12-23 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 735.8px;
  top: 2782.85px;
  width: 87.81px;
  height: 23.66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div33 {
  background: rgba(255, 250, 250, 0.32);
  width: 1024px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 2925px;
}
.div34 {
  width: 133.26px;
  height: 30.12px;
  position: static;
}
.div35 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 84.59px;
  top: 2955.68px;
  width: 77.97px;
  height: 7.12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div36 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 84.59px;
  top: 2960.21px;
  width: 89.31px;
  height: 12.95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div37 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 84.59px;
  top: 2967.66px;
  width: 89.31px;
  height: 12.95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div38 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: absolute;
  left: 84.59px;
  top: 2950.5px;
  width: 133.26px;
  height: 6.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div39 {
  width: 92.62px;
  height: 26.55px;
  position: static;
}
.div40 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 221.15px;
  top: 2965.13px;
  width: 89.31px;
  height: 7.77px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div41 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: absolute;
  left: 217.84px;
  top: 2946.34px;
  width: 68.52px;
  height: 9.71px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ear-candy {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 221.15px;
  top: 2957.03px;
  width: 61.43px;
  height: 7.77px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div42 {
  width: 104.9px;
  height: 35.95px;
  position: static;
}
.instagram {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 855px;
  top: 2949.88px;
  width: 89.31px;
  height: 12.95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.telegram {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 855px;
  top: 2964.45px;
  width: 89.31px;
  height: 12.95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vk {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 855px;
  top: 2957.32px;
  width: 89.31px;
  height: 12.95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div43 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: absolute;
  left: 855px;
  top: 2941.46px;
  width: 104.9px;
  height: 10.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div44 {
  width: 128.06px;
  height: 36.27px;
  position: static;
}
.div45 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: absolute;
  left: 704.95px;
  top: 2941.46px;
  width: 73.24px;
  height: 8.1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div46 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 704px;
  top: 2952.47px;
  width: 73.24px;
  height: 7.12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div47 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 704.94px;
  top: 2960.56px;
  width: 127.11px;
  height: 6.48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div48 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  position: absolute;
  left: 705.42px;
  top: 2966.72px;
  width: 101.6px;
  height: 11.01px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ec2 {
  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
  color: #874a7d;
  text-align: left;
  font-family: "New Rocker", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 483px;
  top: 2933px;
  width: 65px;
  height: 37.49px;
  opacity: 0.5; 
  transition: opacity 0.3s; 
}
.ec2:hover {
  opacity: 1;
}
.ec2::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;

}
.ec2:hover::after {
  opacity: 1; 
}