body{background-image:url(https://cdn.discordapp.com/attachments/1175785422366969877/1182405249483423855/IMG_8884.jpg?ex=658493b3&is=65721eb3&hm=fd873b2f10cd77bdb25e7b71fd90ae9130427c47d868092bb85725cff346209b&);}
.rap-frame,
.rap-frame * {
  box-sizing: border-box;
}
.rap-frame {
  background: #080808;
  height: 2181px;
  position: relative;
  overflow: hidden;
  max-width: 1024px;
  margin: auto;
}
.div {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 29px;
  top: 12px;
  object-fit: cover;
}
.div2 {
  position: absolute;
  inset: 0;
}
.div3 {
  background: rgba(255, 250, 250, 0.32);
  width: 1024px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 2121px;
}
.div4 {
  display: flex;
  flex-direction: row;
  gap: 101px;
  align-items: center;
  justify-content: center;
  height: 36.77px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 2127.77px;
}
.div5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 59px;
  height: 37px;
  position: relative;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: relative;
  width: 101px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 59px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 68px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div9 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 71px;
  position: relative;
}
.div10 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: relative;
  width: 63px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ear-candy {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 48px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div11 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 82px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ec2 {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: #874a7d;
  text-align: left;
  font-family: "New Rocker", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
  width: 49px;
  height: 37px;
  opacity: 0.5; 
  transition: opacity 0.3s; 
  z-index: 10;
}
.ec2:hover {
  opacity: 1;
}
.ec2::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;

}
.ec2:hover::after {
  opacity: 1; 
}
.div12 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 104px;
  position: relative;
}
.div13 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: relative;
  width: 75px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div14 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 75px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div15 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 130px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div16 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 104px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div17 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 77px;
  position: relative;
}
.div18 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: relative;
  width: 91px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.instagram {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 77.47px;
  height: 4.95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vk {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 77px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.telegram {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 8px;
  font-weight: 600;
  position: relative;
  width: 77px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div19 {
  background: rgba(255, 250, 250, 0.32);
  width: 1024px;
  height: 49px;
  position: absolute;
  left: calc(50% - 512px);
  top: 0px;
}
.ec {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  color: #874a7d;
  text-align: left;
  font-family: "New Rocker", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 481px;
  top: 4px;
  width: 62px;
  height: 48px;
  opacity: 0.5; 
  transition: opacity 0.3s; 
  z-index: 10;
}
.ec:hover {
  opacity: 1;
}
.ec::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;

}
.ec:hover::after {
  opacity: 1; 
}
.div20 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 585px;
  top: 19px;
}
.div21 {
  color: #141313;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  width: 53px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div22 {
  color: #141313;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  width: 48px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div23 {
  color: #141313;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  width: 75px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div24 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 817px;
  top: 11px;
}
.star-1 {
  flex-shrink: 0;
  width: 19px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.div25 {
  color: #141313;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  width: 34px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div26 {
  flex-shrink: 0;
  width: 86px;
  height: 26px;
  position: static;
}
.frame-18 {
  background: #874a7d;
  border-radius: 25px;
  padding: 4px 0px 4px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 26px;
  position: absolute;
  left: 87px;
  top: 0px;
  overflow: hidden;
}
.div27 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.rap {
  color: #ffffff;
  text-align: center;
  font-family: "KumarOne-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 442px;
  left: 441px;
  top: 102px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div28 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 35px;
  top: 166px;
}
.star-2 {
  flex-shrink: 0;
  width: 14px;
  height: 13px;
  position: relative;
  overflow: visible;
}
.div29 {
  color: #ffffff;
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 866px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div30 {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 61px;
  top: 338px;
}
.div31 {
  flex-shrink: 0;
  width: 150px;
  height: 48px;
  position: static;
}
.div32 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
._1 {
  color: #ffffff;
  text-align: center;
  font-family: "KumarOne-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._200-x-200-12-2 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
}
.div33 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 15px;
}
.div34 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 9px;
  font-weight: 600;
  position: relative;
  width: 82px;
  height: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div35 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 7px;
  font-weight: 600;
  opacity: 0.699999988079071;
  position: relative;
  width: 57px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div36 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 65px;
}
.div37 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 80px;
}
.div38 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 130px;
}
.div39 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 145px;
}
.div40 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 195px;
}
.div41 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 210px;
}
.div42 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 260px;
}
.div43 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 275px;
}
.div44 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 325px;
}
.div45 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 340px;
}
.div46 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 390px;
}
.div47 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 405px;
}
.div48 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 455px;
}
.div49 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 470px;
}
.div50 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 520px;
}
.div51 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 535px;
}
.frame-21 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 585px;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 600px;
}
.frame-212 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 650px;
}
.frame-202 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 665px;
}
.frame-213 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 715px;
}
.frame-203 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 730px;
}
.frame-214 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 780px;
}
.frame-204 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 795px;
}
.frame-215 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 845px;
}
.frame-205 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 860px;
}
.frame-216 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 910px;
}
.frame-206 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 925px;
}
.frame-217 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 975px;
}
.frame-207 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 990px;
}
.frame-218 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1040px;
}
.frame-208 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1055px;
}
.frame-219 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1105px;
}
.frame-209 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1120px;
}
.frame-2110 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1170px;
}
.frame-2010 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1185px;
}
.frame-2111 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1235px;
}
.frame-2011 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1250px;
}
.div52 {
  flex-shrink: 0;
  width: 150px;
  height: 48px;
  position: relative;
}
.frame-2112 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 56%;
  left: 0%;
  width: 44%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.frame-2012 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0%;
  left: 45.33%;
  width: 54.67%;
  bottom: 29.17%;
  top: 31.25%;
  height: 39.58%;
}
.frame-2113 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1365px;
}
.frame-2013 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1380px;
}
.frame-2114 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1430px;
}
.frame-2014 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1445px;
}
.frame-2115 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1495px;
}
.frame-2015 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1510px;
}
.frame-2116 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1560px;
}
.frame-2016 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1575px;
}
.frame-2117 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1625px;
}
.frame-2017 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1640px;
}
.frame-2118 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 1690px;
}
.frame-2018 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 68px;
  top: 1705px;
}
