.ec2 {
    -webkit-text-stroke-width: 3px;
     -webkit-text-stroke-color: black;
    color: #874a7d;
    text-align: left;
    font-family: "New Rocker", sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    left: 483px;
    top: 2933px;
    width: 65px;
    height: 37.49px;
    opacity: 0.5; 
    transition: opacity 0.3s; 
  }
  .ec2:hover {
    opacity: 1;
  }
  .ec2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  
  }
  .ec2:hover::after {
    opacity: 1; 
  }