.footer {
  background-color: #666464;
}

.footer-container {
  max-width: 923px;
  margin: 0 auto;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.navigation {
  display: flex;
  gap: 13px;
}

.logo {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.button-group {
  display: flex;
  gap: 7px;
}

.navigation-item {
  color: #141313;
  font-size: 11px;
  font-family: 'Inter', sans-serif; 
  text-decoration: none;
}