.footer {
  background-color: #666464;
}

.footer-container {
  max-width: 9000px;
  margin: 0 auto;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: fixed;
left: 0;
right:0;
bottom:0;
background-color: #666464;
}

.navigation {
  display: flex;
  gap: 13px;
}

.logo {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-group {
  display: flex;
  gap: 7px;
  position: absolute;
  left: 20%;

}

.navigation-item {
  color: #141313;
  font-size: 11px;
  font-family: 'Inter', sans-serif; 
  text-decoration: none;
}
.social-icons{
  display: flex;
  gap: 10px;
}