
.card {
    position: relative;
    width: 250px;
    height: 120px;
    background: #191414;
    border-radius: 10px;
    padding: 10px;
  }
  
  .top {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .pfp {
    position: relative;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    background-color: #d2d2d2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-1 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .title-2 {
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  
  .time {
    width: 90%;
    background-color: #5e5e5e;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    left: 5%;
    bottom: 22px;
  }
  
  .elapsed {
    width: 42%;
    background-color: #1db954;
    height: 100%;
    border-radius: 3px;
  }
  
  .controls {
    color: white;
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  
  .volume {
    height: 100%;
    width: 48px;
  }
  
  .air {
    height: 100%;
    width: 48px;
  }
  
  .controls svg {
    cursor: pointer;
    transition: 0.1s;
  }
  
  .controls svg:hover {
    color: #1db954;
  }
  
  .volume {
    opacity: 0;
    position: relative;
    transition: 0.2s;
  }
  
  .volume .slider {
    height: 4px;
    background-color: #5e5e5e;
    width: 80%;
    border-radius: 2px;
    margin-top: 8px;
    margin-left: 10%;
  }
  
  .volume .slider .green {
    background-color: #1db954;
    height: 100%;
    width: 80%;
    border-radius: 3px;
  }
  
  .volume .circle {
    background-color: white;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    position: absolute;
    right: 20%;
    top: 60%;
  }
  
  .volume_button:hover ~ .volume {
    opacity: 1;
  }
  
  .timetext {
    color: white;
    font-size: 8px;
    position: absolute;
  }
  
  .time_now {
    bottom: 11px;
    left: 10px;
  }
  
  .time_full {
    bottom: 11px;
    right: 10px;
  }
  
  .playing {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1px;
    width: 30px;
    height: 20px;
  }
  
  .greenline {
    background-color: #1db954;
    height: 20px;
    width: 2px;
    position: relative;
    transform-origin: bottom;
  }
  
  .line-1 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.2s;
  }
  
  .line-2 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.5s;
  }
  
  .line-3 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.6s;
  }
  
  .line-4 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0s;
  }
  
  .line-5 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.4s;
  }
  
  @keyframes playing {
    0% {
      transform: scaleY(0.1);
    }
  
    33% {
      transform: scaleY(0.6);
    }
  
    66% {
      transform: scaleY(0.9);
    }
  
    100% {
      transform: scaleY(0.1);
    }
  }