.button {
    display: flex;
    justify-content: center;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(30deg, rgb(255, 130, 0) 20%, rgb(255, 38, 0) 80%);
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    align-items: center;
    border: 0;
  }
  
  .button:is(:hover, :focus) {
    transform: scale(1.2);
  }
  
  @keyframes pulse {
    100% {
      box-shadow: 0 0 0 45px rgba(193,244,246,0);
    }
  }