.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    aspect-ratio: 1;
    border-radius: 15px; /

}

.grid-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px; /
}

.grid-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; /
}

.grid-box:first-child {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    aspect-ratio: 1;

}

.grid-box:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    aspect-ratio: 1;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    column-gap: 15px;
}

.flex-box {
    aspect-ratio: 1;
    border-radius: 50vw;
    background-color: red;
    flex: 1 0 0;
    max-width: calc(100% / 6 - 20px * 3); /* Уменьшаем максимальную ширину */
    min-width: calc(100% / 5 - 20px * 2); /* Уменьшаем минимальную ширину */
    position: relative;
    display: inline-block;
}
.flex-box__image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
h1 {
    text-align: center;
    color: rgb(80, 10, 67);
    margin: 20px; /* Добавляем отступ вокруг элемента */
}

 .flex-box__modal {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: rgb(113, 99, 99);
    z-index: 10;
    display: none;
    padding: 10px;
    border: 5px solid #351a1a;
    box-shadow: 0 4px 8px rgba(176, 6, 6, 0.1);
    max-width: 500spx; /* Increased width */
    width: 100%;
    box-sizing: border-box;
}

    .flex-box:hover > .flex-box__modal {
      display: block;
}

    .flex-box__modal p {
      margin: 0;
      font-size: 14px; /* Adjust font size for readability */
      line-height: 1.4;
}
.flex-box__modal p span {
    font-weight: bold;
    color: #007BFF;
  }
