@import '@radix-ui/colors/black-alpha.css';

body {
    background-image: url('../../entities/photo/heartback.png');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 48px;
}

.group-charts { 
    display: flex;
    align-items: flex-start; 
    gap: 24px; 
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;    
}

.group > * {
    flex: 1 1 calc(20% - 48px); 
    max-width: 200px; 
    min-width: 150px; 
}

.box {
    position: relative; 
    aspect-ratio: 1;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 10px var(--black-a7);
}

.background-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.group-charts{
  display: flex;
  justify-content: center;
}
.text-container {
    color: black;
    font-size: 16px;
    font-family: "Podkova", serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #c7b0cc;
    border-radius: 15px;
    margin-top: 15px;
}
.group-album
.group-genre,
.group-charts {
    display: flex;
    align-items: flex-start; 
    gap: 24px; 
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.group-album > .image,
.box.album > .image,
.group-genre > .image,
.group-charts > .image,
.box.genre > .image,
.box-charts > .image,
.box-genre > .image {
    display: block;
    width: 100%;
}
.box {
    width: 150px;
}

.song-name {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgb(203, 37, 195);
    margin-right: 50px;
}

.btn-flat {
    background-color: #CF91D8;
    color: white;
    border-radius: 10px;
    transform: translateX(165pt);
}

.btn-flat:hover {
    background-color: rgb(196, 24, 167);
}

.btn-xxl {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 20px;
    height: 100%;
    overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black-a7);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CF91D8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 24, 167);
}

.h1 {
    color: rgb(178, 58, 183);
    margin: 20px;
}
.box.album
.box.genre,
.box-charts {
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 10px var(--black-a7); 
}

.genre-content h1 {
    font-family: 'Yeseva-One, sans-serif';
    color: rgb(155, 62, 178);
}

.box.genre .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
}

.box.genre:hover .play-button {
    display: block; /* Show on hover */
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .group > * {
        flex: 1 1 calc(33.33% - 32px);
    }
}

@media (max-width: 768px) {
    .group > * {
        flex: 1 1 calc(50% - 24px);
    }
}

@media (max-width: 480px) {
    .group > * {
        flex: 1 1 calc(100% - 16px);
    }
}
