body{background-image:url(https://cdn.discordapp.com/attachments/1175785422366969877/1182405249483423855/IMG_8884.jpg?ex=658493b3&is=65721eb3&hm=fd873b2f10cd77bdb25e7b71fd90ae9130427c47d868092bb85725cff346209b&);}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 48px;
}

.group > * {
    max-width: calc(100% / 6 - (48px * 5));
    min-width: calc(100% / 5);
}

.box {
    flex: 0 0 1;
    aspect-ratio: 1;
    background-color: gray;
}
.background-image {
    background-image: url(/frontend/src/entities/photo/IMG_8884.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }