body{background-image:url('./src/entities/photo/heartback.png');}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 48px;
}

.group > * {
    max-width: calc(100% / 6 - (48px * 5));
    min-width: calc(100% / 5);
}

.box {
    flex: 0 0 1;
    aspect-ratio: 1;
    background-color: rgb(180, 173, 173);
}
.background-image {
    background-image: url(/frontend/src/entities/photo/IMG_8884.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .text-container { 
    max-width: 600px; /* Set a maximum width for the container */
    margin:  auto; /* Center the container horizontally */
    padding: 20px; /* Add some padding around the content */
    background-color: #D2B48C; /* Add a light gray background color */
    border-radius: 15px; /* Add some rounded corners */ 
    margin-top: 15px; 
}

.group-punk {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.group-rock {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.group-rap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.group-jazz {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
} 

.group-hiphop {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.group-rnb {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.group-alternative{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.group-electronic{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.group-pop{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.group-bos{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items:column;
    margin-left:20px;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.box {
    border: 1px solid black;
    aspect-ratio: 1;
    width: 100%;
}
.btn-flat {
    background-color: #CF91D8;
    color: white;
    border-radius: 10px;
    transform: translateX(165pt);
}
.btn-flat:hover { background-color:  rgb(196, 24, 167); }
.btn-xxl {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
}
::-webkit-scrollbar {
    width: 20px;
    height: 100%;
    overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black-a7);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CF91D8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(196, 24, 167);
}
